{#
  # (global) Layout template
  # ---------------
  #}

  {% embed "_header.html" %}
  {% endembed %}

  {% set serialnumber = 0 %}
  {% if entry is defined %}
    {% if entry.number > 0 %}
      {% set serialnumber = entry.number %}
    {% endif %}
  {% endif %}

  {% if title is defined and title == 'Words in Situ' %}
    {% set projectname = 'Words <span class="small">in</span> Situ' %}
    {% set tagline = '(another) side project ' %}
  {% else %}
    {% set projectname = meta.snippet %}
    {% set tagline = '' %}
  {% endif %}
  <body>
    <div class="container">
      <header>
        <div class="centered-content">
          <div class="grid">
            <div class="grid__col--12">
              <nav id="menu" class="nav nav--inline mainnav">
                <ul class="nav__menu mainnav">
                  {% set menu = craft.entries.section('menu').order('displayOrder') %}
                  {% nav link in menu %}
                          {% if link.relatedentry|length %}
                                  <li {% if title is defined and link.title == title %}class="open"{% endif %}><a href="{{ link.relatedentry[0].url }}" >
                          {% else %}
                                  <li><a href="{{ link.customurl }}">
                          {% endif %}
                          {% if link.fontAwesomeIconName|length %}
                          <i aria-hidden="true" class="fa fa-{{ link.fontAwesomeIconName }}">&nbsp;</i>
                          {% else %}
                            {{ link.title }}
                          {% endif %}
                        </a>
                      </li>
                  {% endnav %}
                </ul>
              </nav>
            </div>
            <div class="grid__col--12">
              <div class="logo">
                <h1 class="logo__name">
                  <a class="logo__name" href="/index.php">{{ projectname|parseRefs }}
                  </a>{%if serialnumber > 0 %} <span class="serial">number {{ serialnumber }}</span>{% endif %}</h1>
                <h2 class="logo__tagline"><span >{{tagline}}{{meta.tagline}}</span></h2>
              </div>
            </div>
          </div>
        </div>
      </header><!-- /header -->
      <main id="content" role="main">
        {% block content %}
        {% endblock %}
      </main>
      <footer id="footer">
        <div class="centered-content">
          <div class="grid">
            <div class="grid__col--lg-12">
              <nav class="nav nav--inline">
                <ul class="nav__menu mainnav">
                  <li class="light">Copyright {{ meta.copyright}} {{ siteName }}</li>
                  {% set menu = craft.entries.section('menu').order('displayOrder') %}
                  {% nav link in menu %}
                          {% if link.relatedentry|length %}
                                  <li {% if title is defined and link.title == title %}class="open"{% endif %}><a href="{{ link.relatedentry[0].url }}" >
                          {% else %}
                                  <li><a href="{{ link.customurl }}">
                          {% endif %}
                          {% if link.fontAwesomeIconName|length %}
                          <i aria-hidden="true" class="fa fa-{{ link.fontAwesomeIconName }}">&nbsp;</i>
                          {% else %}
                            {{ link.title }}
                          {% endif %}
                        </a>
                      </li>
                  {% endnav %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="assets/scripts/min/sswatch.min.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98658935-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
  </html>
