{#
  # Homepage template
  # ---------------
  #}

  {% extends "_layout" %}
  {% set title = "Words in Situ" %}
  {% set parent_entry = craft.entries.section('sideProjects').first() %}

  {%if tag is defined %}
    {% set thistag = craft.tags.id(tag).first() %}
    {% set entries = craft.entries.section('wordsInSitu').relatedTo(thistag.id).order('title') %}
  {% else %}
    {% set entries = craft.entries.section('wordsInSitu').order('title')  %}
  {% endif %}

  {% block content %}
  <section>
    <div class="centered-content">
      <div class="grid">
        <div class="grid__col--lg-4 grid__col--sm-12">
          <p>Why do this?</p>
          <div>{{ parent_entry.summary }}</div>
          <div>
            <h3 class="post__tags--heading">Browse by type:</h3>
            <ul class="post__tags">
              {% for tags in craft.tags.group('wordTypes') %}
              <li class="post__tag"><a href="{{ url('side-projects') }}/{{tags.id}}">{{ tags.title }}</a></li>
              {% endfor %}
              <li class="post__tag"><a href="{{ url('side-projects') }}">Show All</a></li>
            </ul>
          </div>
        </div>
        <div class="grid__col--lg-8 grid__col--sm-12">
          <section id="wordfeed"><!-- word feed-->
            <div class="centered-content">
              {% for entry in entries %}
                {% embed "_word.html" %}
                {% endembed %}
              {% endfor %}
            </div>
          </section><!-- /word feed -->
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
